body{
    background: #083958;
}

.notebook{
    display: block;
    position: relative;
    width: 304px;
    height: 400px;
    background: #ffff4f;
    margin: 20px auto;
    margin-top: 250px;
}

.notebook:before{
    position: absolute;
    content: '';
    top: 13px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 10px #ccc,
                        30px 0 0 #ccc,
                        60px 0 0 #ccc,
                        90px 0 0 #ccc,
                        120px 0 0 #ccc,
                        150px 0 0 #ccc,
                        180px 0 0 #ccc,
                        210px 0 0 #ccc,
                        240px 0 0 #ccc,
                        270px 0 0 #ccc;
        
}

textarea{
    position: absolute;
    content: '';
    font-size: 25px;
    text-align: left;
    top: 70px;
    background: #ffff4f;
    width: 300px;
    height: 330px;
    border: none;
    background-image: repeating-linear-gradient(#FFAB00 0px, #FFAB00 1px, transparent 1px, transparent 30px);
    background-repeat: repeat-y, no-repeat;
    outline: none;
    resize: none;
}

























































